.rw-conversation-container .rw-header {
    background-color: linear-gradient(180deg, #325380 10.77%, #0A1D37 99.98%, #0A1D37 100%);
}

.rw-conversation-container .rw-client {
    background-color: linear-gradient(180deg, #325380 10.77%, #0A1D37 99.98%, #0A1D37 100%);
}

.rw-conversation-container .rw-close-button {
    background-color: linear-gradient(180deg, #325380 10.77%, #0A1D37 99.98%, #0A1D37 100%);
}

.rw-launcher{
    background-color: linear-gradient(180deg, #325380 10.77%, #0A1D37 99.98%, #0A1D37 100%);
}